.barrel:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.chest-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chest-main-container p {
    margin: 10px 0;
}

.barrel {
    width: 200px;
    height: 200px;
    transition: opacity 1s ease-in-out;
}

.fish-container {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fish-congrats-message {
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
}


.fish-congrats-message span {
    font-size: 2.5rem; /* Even larger for the word "fish" */
    font-weight: bolder;
    color: #FF6347; /* You can use a different color for the word "fish" */
}

.message-container {
    width: 200px;
    text-align: center;
    margin-top: 10px;
}


.fade-in {
    opacity: 1;
}

.dissolve {
    opacity: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.fish-container img {
    max-width: 300px;
    max-height: 300px;
}