/* FishTank container styling */
.fish-tank {
    padding: 15px;
    text-align: center;
}

/* Grid layout for fish cards */
.fish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 15px;
}

/* FishCard styling */
.fish-card {
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.fish-card:hover {
    transform: scale(1.03);
}

/* Fish image styling with bobbing animation */
.fish-image {
    width: 32px;
    height: auto;
    margin-top: 5px;
    animation: bobbing 1.5s ease-in-out infinite; /* Add animation */
}

@keyframes bobbing {
    0%, 100% {
        transform: translateY(0); /* Starting and ending at the original position */
    }
    50% {
        transform: translateY(-8px); /* Move up slightly */
    }
}
/* Divider line */
.divider {
    border: none;
    height: 1px;
    width: 80px;
    background-color: #ddd;
    margin: 8px 0;
}

/* Fish info styling */
.fish-info {
    color: #333;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items in flex column */
    gap: 6px;
}

/* Detail container styling */
.fish-detail, .rarity-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.label {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.label-variable {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Quantity styling */
.quantity-container {
    margin-top: 20px;
}

.quantity {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
