@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    50% {
      transform: scale(1.02);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.9;
    }
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .phish-button {
    width: 128px;
    height: 128px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    animation: pulse 2s infinite;
  }
  
  .phish-button:hover {
    filter: brightness(1.1);
    animation: none; /* Stop the pulsing animation on hover */
    transform: scale(1.05); /* Scale up the button on hover */
  }
  
  .phish-button:active {
    transform: scale(0.95);
  }
  
  .email-textarea {
    width: 246px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none !important;
  }
  
  .check-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .check-button:hover {
    background-color: #45a049;
  }
  