.leaderboard-row {
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .position,
  .username,
  .score {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
  
  .position {
    width: 50px;
  }
  
  .organization-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px; /* Optional, adds some space below the row */
    margin-top: 2px;
  }
  
  .organization-name {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .organization-code {
    margin: 0;
    font-size: 0.75rem;
    font-weight: normal;
  }

  .username {
    width: 200px;
  }
  
  .score {
    width: 100px;
  }
  

  
.joinup-button {
  background-color: #41616C;
  color: white;
  padding: 12px 24px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.joinup-button:hover {
  background-color: #61924E;
  /* Darker shade for hover effect */
}

.leaderboard-container {
  margin-left: 2rem;
}

.leaderboard-table {
  margin-left: 0rem;
}